%header
  %h1
    %a{ href: "#top", style: "display: inline-block;" }
      %object{ data: "images/logo.svg", type: "image/svg+xml", style: "pointer-events: none;", width: "200px", height: "200px" }
%nav#side-menu
  %ul
    %li
      %a{ href: "#section01" }
        Welcome to RubyMotion JP
    %li
      %a{ href: "#section02" }
        イベント情報
    %li
      %a{ href: "#section03" }
        翻訳ドキュメント
      %ul.sub-list
        %li
          %a{ href: "#section03-01" }
            チュートリアル
        %li
          %a{ href: "#section03-02" }
            Guides
        %li
          %a{ href: "#section03-03" }
            Articles
    %li
      %a{ href: "#section04" }
        リファレンス
    %li
      %a{ href: "#section05" }
        スライドなどの資料
    %li
      %a{ href: "#section06" }
        Links